\-------------- CONFIG FILE --------------
#
# configuration file
#

seed          	= -1            # random seed (6 digits) or -1 for automatic generation

# o grease o control!!! o control o wrapping!!
hits		= 0
window		= 0
crystal		= 1
control		= 0
deposition	= 0
production	= 1
electrons	= 0
grease		= 0
wrapping	= 1

# crystal geometry

# Rise type
height        	= 3		  # length of the crystal in mm
crystalx      	= 2             # x of the crystal in mm
crystaly      	= 2              # y of the crystal in mm
# Cerenkov type
#height        	= 3		  # length of the crystal in mm
#crystalx      	= 7               # x of the crystal in mm
#crystaly      	= 7               # y of the crystal in mm

# control volumes geometry
#depth 	      	= 0.05

# grease
depth		= 0.3

# detector material
det_mat       	= 1             # 1 for air, 0 for silicon

# detector dimensions and position

#PbF2 type
#det_dx	    	= 0.1       
#det_dy	    	= 7        
#det_dz	    	= 0.01        
#det_x       	= 0
#det_y       	= 0
#det_z       	= -6.85
# Rise type
det_dx	    	= 0.1       
det_dy	    	= 7        
det_dz	    	= 0.01        
det_x       	= 0
det_y       	= 0
det_z       	= -52.55
# Cerenkov type
#det_dx	    	= 7        
#det_dy	    	= 7        
#det_dz	    	= 0.1        
#det_x       	= 0
#det_y       	= 0
#det_z       	= -3.2
# Bordeaux type
#det_dx	    	= 0.2
#det_dy	    	= 0.2      
#det_dz	    	= 0.2            
#det_x       	= 0
#det_y       	= 2
#det_z       	= 5

# window dimensions and position

# PbF2 type
#win_diam	= 11
#win_depth	= 3
#win_x       	= 0
#win_y       	= 0
#win_z       	= -5.3
#win_material 	= 7
#rot_ang		= 0

# Rise type
win_diam	= 11
win_depth	= 3
win_x       	= 0
win_y       	= 0
win_z       	= -51
win_material 	= 7
rot_ang		= 0

# scintillator properties
scmaterial    	= 1             # scintillating crystal: 1) LSO 2) LYSO 3) LuAG:Ce 4) LuAG:Pr 5) PbWO 6)Air 7)Quartz
risetime      	= -1         # sc. rise time in ns (set to -1 for default)
decaytime	= 40         # sc. rise time in ns (set to -1 for default)
abslength     	= 1000           # crystal absorption length in mm (set to -1 for default)
lightyield    	= 50000           # light yield 1/MeV (set to -1 for material default)

